.box{
    background:  white;
}
.AppBar{
    background: red;
}
*{
    color: black;
}
.Toolbar{
    background: white;
}
.iconSearch{
    margin-left: -80px;
}
img{
    width: 30px;
    height: 30px;

    display: block;
}
.container_title_button{
    display: flex;
    margin-top: 30px;
}
svg{
    width: 30px;
    height: 30px;
}
.avatar{
        position: absolute;
        left: 10px;
    top: 15px;
}